@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 5% 95%;
    --foreground: 240 5% 10%;
    --card: 240 5% 98%;
    --card-foreground: 240 5% 10%;
    --popover: 240 5% 98%;
    --popover-foreground: 240 5% 10%;
    --primary: 238 82% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 6% 90%;
    --secondary-foreground: 240 5% 20%;
    --muted: 240 6% 90%;
    --muted-foreground: 240 3% 40%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 80%;
    --input: 240 5% 80%;
    --ring: 250 67% 54%;
    --chart-1: 250 67% 54%;
    --chart-2: 217 91% 60%;
    --chart-3: 196 100% 54%;
    --chart-4: 32 100% 61%;
    --chart-5: 340 75% 55%;
    --gradient-start: 220 40% 40%;
    --gradient-end: 220 60% 20%;
    --radius: 0.5rem;
    --sidebar-background: 240 5% 90%;
    --sidebar-foreground: 240 5% 20%;
    --sidebar-primary: 250 67% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 91% 60%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 5% 80%;
    --sidebar-ring: 250 67% 54%;
  }
  .dark {
    --background: 240 5% 10%;
    --foreground: 0 0% 98%;
    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 238 82% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 18%;
    --muted-foreground: 240 2% 60%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 250 67% 54%;
    --chart-1: 250 67% 54%;
    --chart-2: 217 91% 60%;
    --chart-3: 196 100% 54%;
    --chart-4: 32 100% 61%;
    --chart-5: 340 75% 55%;
    --gradient-start: 220 30% 20%;
    --gradient-end: 220 50% 10%;
    --sidebar-background: 240 5% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 250 67% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 91% 60%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 5% 25%;
    --sidebar-ring: 250 67% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
